*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://media.istockphoto.com/id/1085737660/photo/abstract-geometric-wire-frame-data-landscape.jpg?s=2048x2048&w=is&k=20&c=HwbqEL19i9NdAJuGjbVgBCk90grAXU1K-Yv0LSHctm4=");
}
.div_info{
    width: 600px;
    height: 750px;
    display: flex;
    justify-content: center;
    flex-flow:row  wrap;
    align-content: stretch;
    background: rgba(99, 31, 114, 0.47);
}
.div_user{
    width: 180px;
    height: 90px;
    border: 2px solid rgba(154, 151, 151, 0.94);
    border-radius: 20px;
    background: rgba(221, 216, 216, 0.94);
    margin: 10px 40px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.info_p{
    color: rgb(128, 90, 96);
    margin-top: 5px;
}
.button_info{
    width: 90px;
    height: 20px;
    border-radius: 15px;
    border: none;
}
.button_info:hover{
    color: rgba(209, 45, 224, 0.47);
}
